<% var title = "Edit Event" %>

<% include helper/_header %>

<% include helper/_navbar %>

<div class="pagelet" data-transparent-navbar="false"></div>

<div class="container-fluid <%= (locals.alerts ? 'page-contains' : '') %>">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="text-center page-contains">
  <div class="overlay">
    <div class="section-title center">
      <h2 class="animated slideInDown">Edit: <strong><%= (locals.eventObj ? locals.eventObj.name : 'Unknown Event') %></strong></h2>
      <div class="eventId" data-eventid="<%= (locals.eventObj ? locals.eventObj.objectId : '') %>"></div>
      <div class="line">
        <hr>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <form method="post" action="" id="eventForm">
        <div class="col-md-8 col-md-offset-2">
          
          <div class="row">
            <div class="col-md-6">
                <div class="event-id" data-object-id="<%= (locals.eventObj ? locals.eventObj.objectId : '') %>"></div> 
                <div class="deet-text">
                  <h3>NAME OF EVENT</h3>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Service" data-original="<%= (locals.eventObj ? locals.eventObj.name : '') %>" id="name">
                  </div>
                </div>  
            </div>
            
            <div class="col-md-6">
                <div class="deet-text">
                    <h3>HOURS</h3>
                    <div class="form-group">
                      <div class="input-group form-control">
                        <input type="text" class="form-control" placeholder="3" aria-describedby="addon1" id="hours" data-original="<%= (locals.eventObj ? locals.eventObj.hours : '') %>">
                        <span class="input-group-addon" id="addon1">hour(s)</span>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6">
                <div class="deet-text">
                      <h3>ON/OFF CAMPUS</h3>
                      <div class="">
                      <div class="radio min-radio radio-float-none">
                        <label>
                          <input type="radio" name="is-on-campus" id="is-on-campus-true" value="true" 
                          <%= (locals.eventObj ?
                                (locals.eventObj.isOnCampus ? 'checked' : '')
                              :
                                ''
                              ) %>
                          >
                          On Campus
                        </label>
                      </div>
                      <div class="radio min-radio radio-float-none">
                        <label>
                          <input type="radio" name="is-on-campus" id="is-on-campus-false" value="false" 
                          <%= (locals.eventObj ?
                                (locals.eventObj.isOnCampus ? '' : 'checked')
                              :
                                ''
                              ) %>
                          >
                          Off Campus
                        </label>
                      </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="deet-text">
                    <h3>UNIFORM</h3>
                    <div class="">
                      <div class="radio min-radio radio-float-none">
                        <label>
                          <input type="radio" name="uniform" id="uniform-casual" value="Casual" 
                          <%= ((locals.eventObj && locals.eventObj.uniform) ? 
                                ((locals.eventObj.uniform == 'Casual') ? 'checked' : '')
                              :
                                ''
                              ) %>
                          >
                          Casual Uniform
                        </label>
                      </div>
                      <div class="radio min-radio radio-float-none">
                        <label>
                          <input type="radio" name="uniform" id="uniform-polo" value="Polos" 
                          <%= ((locals.eventObj && locals.eventObj.uniform) ? 
                                ((locals.eventObj.uniform == 'Polos') ? 'checked' : '')
                              :
                                ''
                              ) %>
                          >
                          Polos Uniform
                        </label>
                      </div>
                      <div class="radio min-radio radio-float-none">
                        <label>
                          <input type="radio" name="uniform" id="uniform-sweater" value="Sweaters" 
                          <%= ((locals.eventObj && locals.eventObj.uniform) ? 
                                ((locals.eventObj.uniform == 'Sweaters') ? 'checked' : '')
                              :
                                ''
                              ) %>
                          >
                          Sweaters Uniform
                        </label>
                      </div>
                    </div>
                </div> 
            </div>  
          </div>
          
          <div class="row">
            <div class="col-md-6">
                <div class="deet-text">
                    <h3>MEET AT</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Big Container" id="meeting-place" data-original="<%= (locals.eventObj ? locals.eventObj.meetingPlace : '') %>">
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="deet-text">
                    <h3>EVENT LOCATION</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="8047 Campion Dr, Los Angeles, CA 90045" id="location" data-original="<%= (locals.eventObj ? locals.eventObj.location : '') %>">
                    </div>
                </div>
            </div>  
          </div>
          
          <div class="row">
            <div class="col-md-6">
                <div class="deet-text">
                  <h3>START TIME</h3>
                  <div class="form-group">
                      <div class="input-group date form-control" id="datetimestart">
                        <input type="text" class="form-control" id="start-date" data-original="<%= (locals.eventObj ? locals.eventObj.startDateTime : '') %>"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                  </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="deet-text">
                    <h3>END TIME</h3>
                    <div class="form-group">
                      <div class="input-group date form-control" id="datetimeend">
                        <input type="text" class="form-control" id="end-date" data-original="<%= (locals.eventObj ? locals.eventObj.endDateTime : '') %>"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                </div> 
            </div>  
          </div>
          
          <div class="row">
            <div class="col-md-6">
                <div class="deet-text">
                    <h3>DRIVER ADDITIONAL HOURS</h3>
                    <div class="form-group">
                      <div class="input-group form-control">
                        <input type="text" class="form-control" placeholder=".5" aria-describedby="addon2" id="driver-hours" data-original="<%= (locals.eventObj ? locals.eventObj.driverHours : '') %>">
                        <span class="input-group-addon" id="addon2">hour(s)</span>
                      </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="deet-text">
                    <h3>SPECIAL ADDITIONAL HOURS</h3>
                    <div class="form-group">
                      <div class="input-group form-control">
                        <input type="text" class="form-control" placeholder=".5" aria-describedby="addon3" id="extra-hours" data-original="<%= (locals.eventObj ? locals.eventObj.extraHours : '') %>">
                        <span class="input-group-addon" id="addon3">hour(s)</span>
                      </div>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-12">
                <div class="deet-text">
                  <h3>COMMENTS</h3>
                  <div class="form-group"> 
                    <textarea type="text" class="form-control" placeholder="écrire vos commentaires ici" data-original="<%= (locals.eventObj ? locals.eventObj.comments : '') %>" id="comments" rows="3"></textarea>
                  </div>
                </div>  
            </div> 
          </div>
          
          <div class="row">
            <div class="form-group">
              <div class="col-md-6 input more-space">
                <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Richard Robin" id="add-person">
                <ul class="dropdown-menu" id="list-members"></ul>
              </div>
              
              <div class="col-md-6 input more-space">
                <button class="edit btn" type="button" id="confirm-add-person"><i class="fa fa-plus"></i> Regular</button>
                <button class="edit btn" type="button" id="confirm-add-driver"><i class="fa fa-plus"></i> Driver</button>
                <button class="edit btn" type="button" id="confirm-add-special"><i class="fa fa-plus"></i> Extra</button>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="more-space">
              <button class="btn buton btn-default spaced" type="button" id="update-event" data-loading-text="<i class='fa fa-refresh fa-spin'></i>  Updating"<%= (locals.admin ? '' : 'disabled') %>><i class="fa fa-refresh"></i>  Update</button>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="deet-text">
                <h3>DRIVERS</h3>
                <div class="form-group">
                  <table class="table last-col-right">
                    <thead>

                    </thead>
                    <tbody id="driving-members" class="text-left">
                      <% if (locals.eventObj && eventObj.drivers) { %>
                        <% locals.eventObj.drivers.forEach(function(member) { %>
                          <% var type = 'driving' %>
                          <% include helper/_attending %>
                        <% }) %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div class="col-md-8 col-md-offset-2">
              <div class="deet-text">
                <h3>MEMBERS</h3>
                <div class="form-group">
                  <table class="table last-col-right">
                    <thead>
                        
                    </thead>
                    <tbody id="attending-members" class="text-left">
                      <% if (locals.eventObj && eventObj.members) { %>
                        <% locals.eventObj.members.forEach(function(member) { %>
                          <% var type = 'attending' %>
                          <% include helper/_attending %>
                        <% }) %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div class="col-md-8 col-md-offset-2">
              <div class="deet-text">
                <h3>SPECIAL MEMBERS</h3>
                <div class="form-group">
                  <table class="table last-col-right">
                    <thead>

                    </thead>
                    <tbody id="special-members" class="text-left">
                      <% if (locals.eventObj && eventObj.specials) { %>
                        <% locals.eventObj.specials.forEach(function(member) { %>
                          <% var type = 'special' %>
                          <% include helper/_attending %>
                        <% }) %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% include helper/_basecode %>

<script type="text/javascript" src="/js/event.js"></script>

<% include helper/_footer %>