<% include helper/_header %>

<% include helper/_navbar %>

<div class="pagelet" data-transparent-navbar="false"></div>

<div class="container-fluid <%= (locals.alerts ? 'page-contains' : '') %>">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="text-center page-contains">
  <div class="overlay">
    <div class="section-title center">
      <h2 class="animated slideInDown">Event Details: <strong><%= (locals.eventObj ? locals.eventObj.name : 'Unknown Event') %></strong></h2>
      <div class="line">
        <hr>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-6 center">
                <div class="event-id" data-object-id="<%= (locals.eventObj ? locals.eventObj.objectId : '') %>"></div> 
                <div class="deet-text">
                  <h3>START TIME</h3>
                  <p id="start-date" data-original="<%= (locals.eventObj ? locals.eventObj.startDateTime : '') %>">
                    <%= (locals.eventObj ? locals.eventObj.startDateTime : '') %>
                  </p>
                </div>
                
                <div class="deet-text">
                  <h3>END TIME</h3>
                  <p id="end-date" data-original="<%= (locals.eventObj ? locals.eventObj.endDateTime : '') %>">
                    <%= (locals.eventObj ? locals.eventObj.endDateTime : '') %>
                  </p>
                </div>    
                
                <div class="deet-text">
                  <h3>EVENT LOCATION</h3>
                  <a href="<%= (locals.eventObj ? ('https://maps.google.com/?q=' + locals.eventObj.location) : '#') %>">
                    <%= (locals.eventObj ? locals.eventObj.location : '') %>
                  </a>
                </div>
                
                <div class="deet-text">
                  <h3>MEET AT</h3>
                  <p>
                    <%= (locals.eventObj ? locals.eventObj.meetingPlace : '') %>
                  </p>
                </div>
            </div>                
            <div class="col-md-6">
                <div class="deet-text">
                  <h3>ON/OFF CAMPUS</h3>
                  <p>
                    <%= (locals.eventObj ? (locals.eventObj.isOnCampus ? 'On Campus' : 'Off Campus') : '') %>
                  </p>
                </div>
                
                <div class="deet-text">
                  <h3>UNIFORM</h3>
                  <p>
                    <%= (locals.eventObj ? (locals.eventObj.uniform ? locals.eventObj.uniform : 'No Uniform Set') : '') %>
                  </p>
                </div> 
                
                <div class="deet-text">
                  <h3>HOURS</h3>
                  <p>
                    <%= (locals.eventObj ? locals.eventObj.hours : '') %>
                  </p>
                </div>

                <div class="deet-text">
                  <h3>DRIVER ADDITIONAL HOURS</h3>
                  <p>
                    <%= (locals.eventObj ? locals.eventObj.driverHours : '') %>
                  </p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="deet-text">
                  <!-- <table class="table">
                    <thead>
                      <tr>
                        <th>DRIVERS</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table> -->
                  <h3>DRIVERS</h3>
                  <p>
                    <% if (locals.eventObj && eventObj.drivers) { %>
                      <% locals.eventObj.drivers.forEach(function(member) { %>
                        <% include helper/_attending_details %>
                      <% }) %>
                    <% } else { %>
                      <p>No Drivers Found</p>
                    <% } %>
                  </p>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="deet-text">
                <!-- <table class="table">
                  <thead>
                    <tr>
                      <th>MEMBERS</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table> -->
                <h3>MEMBERS</h3>
                <p>
                  <% if (locals.eventObj && eventObj.members) { %>
                    <% locals.eventObj.members.forEach(function(member) { %>
                      <% include helper/_attending_details %>
                    <% }) %>
                  <% } else { %>
                    <p>No Drivers Found</p>
                  <% } %>
                </p>
              </div>
            </div>
          </div>

          <% if (locals.admin) { %>
            <a href="<%= (locals.eventObj ? ('/events/' + locals.eventObj.objectId + '/edit') : '#') %>" role="button" class="btn buton btn-default">Edit</a>
            <a id="export" role="button" class="btn buton btn-default">Export</a>
            <button class="btn buton btn-default" id="delete" data-loading-text="Deleting Event...">Delete</button>
          <% } %>
          <div class="export-text">
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include helper/_basecode %>

<script type="text/javascript" >
  $('#start-date').text(moment($('#start-date').data('original')).format("MMMM D, YYYY, h:mm A"));
  $('#end-date').text(moment($('#end-date').data('original')).format("MMMM D, YYYY, h:mm A"));
  
  $('#export').click(function(){
    if (!$(this).data('showing')) {
      $(this).data('showing', true);
    } else {
      $(this).data('showing', false);
    }
    
    if ($(this).data('showing')) {
      var text =  '<%=locals.eventObj.name%>' + ": " + '<%=locals.eventObj.location%>' + '\n' + 
      '\t' +  moment($('#start-date').data('original')).format("dddd, MMMM D @ h:mm a") + '-' +
      moment($('#end-date').data('original')).format("h:mm a") + '\n' +
      <% locals.eventObj.members.forEach(function(member) { %>
        '<%= member.firstName + " " + member.lastName %>' + '\n' + 
        '<%= member.email + ", " + member.phone %>' + '\n' +
      <% }) %>
      '';
     
      $('.export-text').append('<textarea class="form-control spaced" rows="7">' + text + '</textarea>');
    } else {
      $('.export-text').empty();
    }
    
     
  });

  $('#delete').click(function() {
    var $btn = $(this).button('loading');
    var eventId = $('.event-id').data('object-id')
    var eventUrl = '/events/' + eventId + '/delete';

    if (eventId) {
      console.log('sending request...');
      $.ajax({
        method: 'POST',
        url: eventUrl,
        data: {objectId: eventId}
      }).then(function(data, textStatus, jqXHR) {
        console.log('success');
        console.log(data);
        console.log(textStatus);
        $btn.button('reset');
        window.location.replace('/events');
      }, function(jqXHR, textStatus, error) {
        console.log('error');
        console.log(textStatus);
        console.log(error);
        $btn.button('reset');
      });
    } else {
      console.log('no eventId');
      $btn.button('reset');
    }
  })
</script>

<% include helper/_footer %>