<% include helper/_header %>

<% include helper/_navbar %>

<div class="pagelet" data-transparent-navbar="false"></div>

<div class="container-fluid <%= (locals.alerts ? 'page-contains' : '') %>">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="container <%= (locals.alerts ? '' : 'page-contains') %>">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h1><%= (locals.eventObj ? locals.eventObj.name : 'Unknown Event') %></h1>
        <div class="eventId" data-eventid="<%= (locals.eventObj ? locals.eventObj.objectId : '') %>"></div>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary spaced" id="edit-event" <%= (locals.admin ? '' : 'disabled') %> >Edit</button>
      </div>
    </div>
  </div>
  <div class="row">  
    <div class="col-sm-5">
      <form method="post" action="" id="eventForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Service" data-original="<%= (locals.eventObj ? locals.eventObj.name : '') %>" id="name" disabled>
        </div>

        <div class="form-group">
          <label for="start-date">Start Date/Time</label>
          <div class="input-group date form-control" id="datetimestart">
            <input type="text" class="form-control" id="start-date" data-original="<%= (locals.eventObj ? locals.eventObj.startDateTime : '') %>" disabled/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="end-date">End Date/Time</label>
          <div class="input-group date form-control" id="datetimeend">
            <input type="text" class="form-control" id="end-date" data-original="<%= (locals.eventObj ? locals.eventObj.endDateTime : '') %>" disabled/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="location">Address</label>
          <input type="text" class="form-control" placeholder="1 Infinite Loop, Cupertino, CA, 95014" id="location" data-original="<%= (locals.eventObj ? locals.eventObj.location : '') %>" disabled>
        </div>

        <div class="form-group">
          <label for="hours">Hours</label>
          <div class="input-group form-control">
            <input type="text" class="form-control" placeholder="3" aria-describedby="addon1" id="hours" data-original="<%= (locals.eventObj ? locals.eventObj.hours : '') %>" disabled>
            <span class="input-group-addon" id="addon1">hour(s)</span>
          </div>
        </div>

        <div class="form-group">
          <table class="table last-col-right">
            <thead>
              <tr>
                <th>Attending Only</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody id="attending-members">
              <% if (locals.eventObj && eventObj.members) { %>
                <% locals.eventObj.members.forEach(function(member) { %>
                  <% var type = 'attending' %>
                  <% include helper/_attending %>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>

        <div class="form-group">
          <table class="table last-col-right">
            <thead>
              <tr>
                <th>Attending & Driving</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody id="driving-members">
              <% if (locals.eventObj && eventObj.drivers) { %>
                <% locals.eventObj.drivers.forEach(function(member) { %>
                  <% var type = 'driving' %>
                  <% include helper/_attending %>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Add Person..." id="add-person" disabled>
            <ul class="dropdown-menu" id="list-members">
              <li class="option" data-name="Joshua Kuroda"><a href="#">Joshua Kuroda</a></li>
              <li class="option" data-name="Carlos Melendez"><a href="#">Carlos Melendez</a></li>
              <li class="option" data-name="Benjamin Johnstone"><a href="#">Benjamin Johnstone</a></li>
              <li class="option" data-name="Max Alvarado"><a href="#">Max Alvarado</a></li>
            </ul>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="confirm-add-person" disabled>Add Attending Only</button>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="confirm-add-driver" disabled>Add Driver</button>
            </span>
          </div><!-- /input-group -->
        </div>

        <div class="">
          <input class="button btn btn-default" data-loading-text="Updating Event..." type="button" value="Update Event" id="update-event" disabled>
        </div>

      </form>
      <div class="spaced"></div>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container  -->

<% include helper/_basecode %>

<script type="text/javascript" src="/js/event.js"></script>

<% include helper/_footer %>